
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;


}

li {
    float: left;
        border-right: 15px solid #FFFFFF;
}
li:last-child {
    border-right: none;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #FE0000;
}

.active {
    background-color: black;
}
