.hea {
    text-align: center;
    margin-top:-16px;
    margin-left:80%;
    margin-right:-16px;
    background-color:pink;
    border:1px solid black;
}

.hea1 {
color:aliceblue;
    text-align: center;
    margin-top:-16px;
    margin-left:80%;
    margin-right:-16px;
    background-color:darkred;
    border:1px solid black;
}

.hea2 {
    text-align: center;
    margin-top:-16px;
    margin-left:80%;
     margin-right:-16px;
    background-color:yellow;
    border:1px solid black;
}


.text{
    text-align:justify;
}

.header {
    padding: 20px;
    text-align: center;
}

.flex-container {
    justify-content: center;
    display: flex;
      -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

    
    
}


.columna1, 
.columna2, 
.columna3 {
  width: 100%;
}







.flex-container>div {

    background-color: lightgrey;
 
    width: 25%;
    border:1px solid black;
    padding: 15px;
    margin:10px;
    height: 200px;
    margin: 10px;


    
}

@media (max-width: 992px) {


#tablet {

     -webkit-order: 1;
    order: 1;
    width: 100%;

    
    }
}


@media (max-width: 767px) {
    .flex-container>div {
        width: 100%;
        
    }


* {
    box-sizing: border-box;
} 
