/**
a:link {color: red;}
a:visited {color: blue;}
a:hover {color: fuchsia;}
**/



p { color: red }
p { color: blue; }

.sol{
    background-color:lightgray;
        padding: 5px;
    border:1px solid black;
    text-decoration: none;
    color: black;
    
}
